
.section{
    margin: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.image,
aside{
    display: flex;
    width: 100%;
    height: auto;
}

.questionBox{
    display: flex;
    flex-direction: column;
}

.btn-large {
    height: 54px;
    line-height: 54px;
    font-size: 10px;
    padding: 0 28px;
}
#map {
    height: 300px;
}
@media (min-width: 576px) { 
    
    .imgQuestion{
        display: flex;
        flex-direction: row;
    }
    .image,
    aside{
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }
}