
#mapid{
    width: auto; 
    height:400px;} 

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 400px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 50px;
    padding: 15px 5%;
}
.popupCloseButton {  
    background-color:#292424;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
}


p{
    font-size: 14px;
}

.nav-wrapper{
    padding: 0 30px;
}

li{
    margin: 0 10px;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.popUp{
    text-align: left;
}

/* design for full screen */

.descriptionCss{
    padding: 40px;
}

.section{
    margin: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.imgQuestion{
    height: 400px;
}

.question{
    margin-bottom: 10px;
}

.topImage{
    object-fit: cover;
    margin-left: 38px;
}
.topImage,
aside{
    width: 100%;
    height: 100%;
}

.nameEthnie, .qu{
    text-align: center;
    font-family: "helvetica";
}

.questionBox{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.card-action{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.response{
    margin: 5px 60px;
}


/* BUTTON */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin: 3px;
    text-decoration: none;
    background:linear-gradient(#292424a4, #5e554b);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #3f3a33;
}

a{
    color: white;
}

button:active {
    transform: scale(0.99);
}

/* BUTTON*/
#map  {
    height: 500px;
    margin: 38px;
   
}

@media (min-width: 576px) { 
    
    .imgQuestion{
        display: flex;
        flex-direction: row;
    }
    .image,
    aside{
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }
}